<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.forj.model.repository.BoardMapper">
	
	<select id="selectAll" resultType="BoardDto">
		select 
			board_id as boardId, title, fu.user_nickname as writer, writer as writerId, write_date as writeDate, hit
		from 
			forj_board as fb join forj_user as fu
		on 
			fb.writer = fu.user_id
		order by 
			write_date desc
		limit
			#{startRow}, 10;
	</select>
	
	<insert id="insert" parameterType="BoardDto">
		insert into forj_board(title, writer, write_date, content)
		values( #{title}, #{writer}, now(), #{content})
	</insert>
	
	<select id="selectOne" parameterType="int" resultType="BoardDto">
		select board_id as boardId, title, fu.user_nickname as writer, writer as writerId, fu.user_profileimg as profileImg, write_date as writeDate, content, hit
		from forj_board as fb join forj_user as fu
		on fb.writer = fu.user_id
		where board_id=#{boardId}
	</select>
	
	<update id="updateHit" parameterType="int">
		update forj_board
		set hit = hit + 1
		where board_id=#{boardId}
	</update>
	
	<update id="update" parameterType="BoardDto">
		update forj_board
		set title=#{title}, content=#{content}, write_date=now()
		where board_id=#{boardId}
	</update>
	
	<delete id="delete" parameterType="int">
		delete
		from forj_board
		where board_id = #{boardId}
	</delete>
	
	<select id="selectSearchAll" parameterType="String" resultType="BoardDto">
		SELECT
			board_id as boardId, title, fu.user_nickname as writer, writer as writerId, write_date as writeDate, hit
		FROM
			forj_board as fb join forj_user as fu
		ON
			fb.writer = fu.user_id
		WHERE
			title like concat('%', #{text}, '%')
		ORDER BY
			write_date desc
	</select>
	
	<select id="selectMyList" parameterType="String" resultType="BoardDto">
		SELECT
			board_id as boardId, title, write_date as writeDate, hit
		FROM
			forj_board
		WHERE
			writer=#{userId}
	</select>
	
	<select id="selectTotalCount" resultType="int">
		SELECT
			count(*)
		FROM
			forj_board		
	</select>
	
</mapper>