<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.forj.model.repository.CommentMapper">

	<select id="selectAll" parameterType="int" resultType="CommentDto">
		select comment_id as commentId, board_id as boardId, fu.user_nickname as writer, user_id as userId, content, write_date as writeDate
		from forj_comment as fc join forj_user as fu
		using(user_id)
		where board_id = #{boardId}
	</select>
	
	<select id="selectOne" parameterType="int" resultType="CommentDto">
		select comment_id as commentId, board_id as boardId, fu.user_nickname as writer, user_id as userId, content, write_date as writeDate
		from forj_comment as fc join forj_user as fu
		using(user_id)
		where comment_id = #{commentId}
	</select>
	
	<delete id="delete" parameterType="int">
		delete
		from forj_comment
		where comment_id=#{commentId}
	</delete>
	
	<update id="update" parameterType="CommentDto" >
		update forj_comment
		set content=#{content}
		where comment_id=#{commentId}
	</update>
	
	<insert id="insert" parameterType="CommentDto">
		insert into forj_comment(board_id, user_id, content, write_date)
		values(#{boardId}, #{userId}, #{content}, now())
	</insert>
	
	<select id="selectMyList" parameterType="String" resultType="CommentDto">
		SELECT
			fc.board_id as boardId, fb.title as boardTitle, fc.content, fc.write_date as writeDate
		FROM
			forj_comment fc join forj_board fb
		USING 
			(board_id)
		WHERE
			fc.user_id=#{userId}
	</select>
	
</mapper>